.icon-container {
    margin-left: auto;
}

.foro-data {
    background-color: var(--color-back);
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    display: flex;
}

.foro-data h3 {
    margin-bottom: 20px;
}

.column-user {
    margin-left: 20px;
    margin-right: 50px;
    width: fit-content;
}

.column-user h4 {
    text-align: center;
    margin-top: 15px;
}

.foro-data p {
    text-align: justify;
}

.data-bottom {
    margin-top: 20px;
}

.photo-user {
    height: 80px;
}