.icon-container {
    margin-left: auto;
    margin-top: 10px;
}

.home-header .btn {
    margin-top: 20px;
}

.foro-data {
    background-color: var(--color-back);
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    display: flex;
}

.column-user {
    margin-left: 20px;
    margin-right: 50px;
    width: fit-content;
}

.column-user h4 {
    text-align: center;
    margin-top: 15px;
}

.data-bottom {
    margin-top: 40px;
}

.photo-user {
    height: 80px;
}

.foro-responses {
    margin-top: 50px;
}

.response {
    border: 3px solid var(--color-back);
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.info p {
    text-align: justify;
}

.info h3 {
    margin-bottom: 20px;
}