.container-ejs {
    margin: 2rem 0 5rem 5rem;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.form-ej {
    border: 3px solid var(--color-back);
    border-radius: 5px;
    padding: 20px;
    height: 950px;
}

.pregunta {
    margin: 20px;
}

.respuestas {
    margin-top: 5px;
    margin-bottom: 15px;
}

input {
    margin-right: 5px;
}

.option {
    width: 100%;
    margin-bottom: 3px;
}

.btn-send {
    padding: 20px;
    float: right;
}

.form-button {
    width: 30%;
    float: right;
}

