.container-ejs {
    margin: 2rem 5rem 0 5rem;
    font-family: 'Roboto', sans-serif;
}

.form-ej {
    border: 2px solid var(--color-back);
    border-radius: 5px;
    padding: 10px;
}

.pregunta {
    margin: 20px;
}

.respuestas {
    margin-top: 5px;
    margin-bottom: 15px;
}

input {
    margin-right: 5px;
}

.option {
    width: 100%;
    margin-bottom: 3px;
}